header {
font-family:"Courier New", Courier, monospace;
background-color: #	#FFB6C1;
padding: 10px;
border: 10px solid #	#D3D3D3;
position: center;
}
#index-header {
margin: 0;
padding: 0;
position:center;
width: auto;
}
#about-header {
margin: 0;
padding: 0;
position:center;
width: auto;
}
#contact-header {
margin: 0;
padding: 0;
position:center;
width: auto;
}
#services-header {
margin: 0;
padding: 0;
position:center;
width: auto;
}
Body {
  font-family: "Courier New", Courier, monospace;
  background-color: #	#FFB6C1;
  padding: 10px;
  border: 10px solid #D3D3D3;
  position: center;
}
h1 {
font-family:"Courier New", Courier, monospace;
background-color: #FFB6C1;
padding:inherit;
position: center;
}
.main-container {
background-color: #FFB6C1;
border: 10px solid 	#D3D3D3;
position: center;

}
.secondary-container {
border: 10px solid 	#D3D3D3;
position: center;
}
.item-menu {
margin: auto;
padding: 0.25em;
min-width: 75px;
font-size: 10pt;
color: #D3D3D3;
background-color: #FFB6C1;
display: inline-block;
}
.item-menu a {
color: #000000;
text-decoration: none;
}
.item-menu:hover {
background-color: #FFB6C1;
}
.dropdown {
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
border: 1px solid #000;
}
.dropdown-content a {
color: #000;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-item {
display: block;
text-align: center;
margin: 0;
}
.dropdown-item:hover, .dropdown-item:hover a {
color: #D3D3D3;
background-color: #FFB6C1;
}
img {
display: inline-block;
margin-left: auto;
margin-right: auto;
}
